   .main-content{
    width: 80%;
    left: 10%;
    right: 10%;

    transform: translate(10%);

    border: 1px solid black;
    padding: 10px;
}
header{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 10px;;
}

.header-doc{
    display: flex;
    justify-content: baseline;
    padding-top: 20px;
}

.line{
    border: 1px solid black;
}

table{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
}

th, tr , td{
 border: 1px solid black;
}

.header-element{
    display: flex;

    justify-content: space-around;
}

.header-element a{
    display: block;
    text-decoration: none;

}

.header-element button{
    display: block;
    cursor: pointer;

}

@media print{
   .noprint{
       display:none;
   }
}
